*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: 'Noto Serif', serif;
    font-size: 16px;

}

header nav {
	height: 70px;
	background: #0D2175;
	display: flex;
	justify-content: space-between;
}

.icon{
	display: none;
}

.link{
	display: flex;
	height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.link a {
	text-decoration: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding: 4px 0;
	transition: 0.7s ease-out;
}

.logo h1{
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Noto Serif', serif;
	color: #fff;
}

